/venv/
/.idea/*
/example/log/*
*__pycache__*
/example/owl/*
/.idea
/doc/*
.idea/*
.idea/workspace.xml
ci/
ci/*
/ontologysim/ProductionSimulation/database/SimulationRun.db
/dist
/dist/*
/ontologysim/testPlayground/
/ontologysim.egg-info/
/ontologysim/ontologysim.egg-info/
/run.log
/tests/run.log
/ontologysim/Flask/run.log
