rdflib == 7.0.0
numpy ~= 1.26.1
pandas ~= 2.1.2
requests == 2.31.0
Cython == 3.0.5
pyodbc == 5.0.1
owlready2 == 0.44
matplotlib ~= 3.8.1
flask
redis
flask_cors
flask_swagger_ui
SQLAlchemy
flask_sqlalchemy
Deprecated
recommonmark
python-decouple == 3.8
jwt
pyjwt
bcrypt
sphinx_rtd_theme
sphinx-markdown-tables
sqlalchemy_utils
setuptools