rdflib == 5.0.0
numpy == 1.17.3
pandas == 1.0.3
requests == 2.24.0
owlready2 == 0.34
matplotlib == 3.3.2
flask
redis
flask_cors
flask_swagger_ui
SQLAlchemy
flask_sqlalchemy
Deprecated
recommonmark
python-decouple == 3.4
jwt
pyjwt
bcrypt
sphinx_rtd_theme
sphinx-markdown-tables
sphinx_rtd_theme
sphinx-markdown-tables